body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
h1{
    font-size: 50px;
    font-weight: 200px;
}
.name-color{
    color: orangered;
}
p{
    color: dimgray;
}
a{
    text-decoration: none;
}
.half-width{
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;
}
.half-width img{
    width: 55%;
    float: left;
    padding-left: 20%;
    margin: 2px;
}
#button-align{
text-align: right;
}
.top-banner{
    background-image: url(images/back.jpg);
}
section{
    height: 500px;
}
p{
    color: whitesmoke;
}
.hello-color{
    color: rgba(7, 243, 243, 0.801);
}
.hire-button{
    background-image: linear-gradient(45deg, tomato, rgb(75, 255, 4));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.middle-banner{
    background-image: url(images/back6.jpg);
}
.las-color{
    color:tomato;
}
.LASTET{
    color: tomato;
}
.second-header{
    text-align: center;
    font-size: 40px;
    padding: 5%;
}
.working-box{
    box-shadow: whitesmoke;
    border-radius: 5px;
}
.img{
    width: 30%;
    margin: 2%;

}
.ex-header{
font-size: 25px;
}
.ex-des{
}
.top3-banner{
    background-image: url(images/b5.jpg);
    padding: 1%;
}
.font-color{
    color: white;
}
.shap-size{
    width: 55%;
    margin-left: 25%;
    padding-top: 5%;

}
.box-dec{
    width: 33%;
    float: left;
    padding: .1
}
.para-align{
    text-align: left;
    padding-left: left;
}
.conect-text{
    text-align: center;

}
#conect-color{
    color: dimgray;
    height: 5%;
}
#design-color{
    color: rgba(109, 15, 216, 0.562);
}
.back44{
    background-image: url(shapes/shap.png);
}
.chat{
    text-align: right;
    padding-bottom: 2px;
}
.icons-align{
    text-align-last: center;
}